---
import ThemeDropdown from "./theme-dropdown"
import { GitHubLogoIcon } from "@radix-ui/react-icons"
import "@fontsource-variable/lora";
import CategoryDropdown from "./category-dropdown";
import { getCollection, type CollectionEntry } from "astro:content";

const allPosts: CollectionEntry<'posts'>[] = await getCollection("posts");
const allCategories: string[] = [] ;
allPosts.map(post => {
  allCategories.push(post.data.category) 
});
const uniqueCategories = [...new Set<string>(allCategories)];
const sortedCategories = uniqueCategories.sort();

---

<nav class="flex items-center justify-between mb-14">
  <div class="flex flex-col sm:flex-row sm:gap-10">
    <a href="/">
      <h2 class="font-semibold">Danny Bao</h2>
    </a>
    <div class="flex gap-5">
      <a href="https://www.ponktoku.dev/" target="_blank" rel="noopener noreferrer" class="external-link">About</a>
      <a href="https://github.com/ponktoku/ponktoku-uses" target="_blank" rel="noopener noreferrer" class="external-link flex items-center gap-1">
        <GitHubLogoIcon />
        Source</a>
    </div>
  </div>
  <div>
    <ThemeDropdown client:load></ThemeDropdown>
    <CategoryDropdown client:load categories={sortedCategories}></CategoryDropdown>
  </div>
</nav>

<style>
  nav {
    font-family: 'Lora Variable', serif;
  }
</style>